{% extends 'myapp/layout.html' %}

{% block title %} About {% endblock %}

{% block content %}
{% load static %}

<!-- Nav -->
{%include "myapp/partials/nav.html"%}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5" style="margin-bottom: 6rem;">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
    </div>
</div>
<!-- Page Header End -->


<!-- About -->
{%include "myapp/partials/about.html"%}

<!-- Fact -->
{%include "myapp/partials/fact.html"%}

<!-- Feature -->
{%include "myapp/partials/features.html"%}

<!-- Team -->
{%include "myapp/partials/team.html"%}

{% endblock %}